# Dependencies
**/node_modules/
node_modules/

# Production / Build output
**/dist/
**/build/
**/.expo/

# Logs & Environment variables
*.log
**/*.log
.env
.env.*
!.env.example
!**/.env.example

# Credentials & Service Account Keys
*serviceAccount*
*.pem
*.key
*.p12
*.crt
*.secret

# IDE / OS files
.vscode/
.idea/
.DS_Store
Thumbs.db

