# Dependencies
**/node_modules/
node_modules/

# Production / Build output
**/dist/
**/build/
**/.expo/

# Logs & Environment variables
*.log
.env
.env.local
.env.*.local

# IDE / OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
