# Server Port Configuration
PORT=5001
NODE_ENV=development

# Firebase Admin SDK Configuration
# Option 1: Path to Firebase Service Account JSON File
# GOOGLE_APPLICATION_CREDENTIALS=./serviceAccountKey.json

# Option 2: Inline Environment Variables
FIREBASE_PROJECT_ID=physiotherapy-app-demo
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-demo@physiotherapy-app-demo.iam.gserviceaccount.com
# FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"

# CORS Allowed Origins
CORS_ORIGIN=*
